<h2>Parent Component</h2>
<button (click)="toggleChild()">Toggle Child</button>
<button (click)="changeData()">Change Data</button>

<app-child *ngIf="showChild" [data]="childData"></app-child>


<p>Sending Message to Child: {{ parentMessage }}</p>

<!-- Pass data using @Input() -->
<app-child [childMessage]="parentMessage" (childEvent)="handleChildEvent($event)"></app-child>

<button (click)="callChildMethod()">Call Child Method</button>
<app-child>
    <p #projectedContent>This is projected content from Parent!</p>
  </app-child>